### Introduction
- String is a collection of characters.
- Python does not have character data type. In python, a character is a string of length 1.
- Strings are immutable.
- '  ' and "  " are used for single line strings. '''   ''' and """   """ are used for multi-line strings.

In [1]:
a = "aman"

In [2]:
print(a)

aman

In [8]:
a[1] = "n"  # Gives error because strings are immutable

TypeError: 'str' object does not support item assignment

In [3]:
a = """
    this is a multi line
    string
"""

In [5]:
a

'\n    this is a multi line\n    string\n'

In [6]:
a = '''
    this is a
    multi line
    string as well
'''

In [7]:
print(a)

    this is a
    multi line
    string as well

In [8]:
a = 'b'

In [9]:
print(a)

b

In [11]:
ord('a')

97

In [13]:
chr(65)

'A'

### Some string operations now!
format, strip, split, replace, count

In [14]:
a = 1
b = 2
c = 3

Let's suppose we want to print a, b and c separated by hyphen

In [17]:
print(str(a) + "-" + str(b) + "-" + str(c))    # Code doesn't look good

1-2-3

In [18]:
print("%d-%d-%d" % (a, b, c))    # This will fail if any of a, b or c is a string

1-2-3

In [20]:
print("{}-{}-{}".format(a, b, c))   # Another way

1-2-3

In [21]:
x = "covid"
y = "19"
z = "virus"

In [23]:
print("{1}-{0}-{2}".format(x, y, z))

19-covid-virus

In [24]:
print("{lastname}, {firstname}".format(firstname = "rohit", lastname = "sharma"))

sharma, rohit

In [26]:
# Most common and convenient way of formatting strings
first = "sam"
last = "curran"
print(f"{last}, {first}")

curran, sam

###### strip

In [1]:
a = "       aman     "

In [7]:
a.strip()   # removes white spaces from front and back of the string

'aman'

In [14]:
a = input()  # if i add a space at the end of the input string

yes

In [15]:
a == "yes"

False

In [16]:
a.strip() == "yes"

True

###### split

In [17]:
a = input()

1 2 3 4 5 6 7

In [18]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7']

###### replace

In [19]:
a = "rohan"

In [21]:
a.replace("r", "m")   # replaces occurence of first string with second

'mohan'

In [22]:
a = 'aaaaabbacc'

In [23]:
a.replace("a", "z")

'zzzzzbbzcc'

###### count

In [25]:
a

'aaaaabbacc'

In [26]:
a.count('a')

6

In [27]:
a.count('aa')

2