### Introduction
Tuples are used to hold together multiple objects. We can think of them as similar to lists, but without the extensive functionality that the list class gives us. One major feature of tuples is that they are immutable like strings i.e. we cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of paranthesis.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will not change.

In [1]:
a = [1, 2, 3, 4, 5]

In [2]:
a[0] = 3

In [3]:
id(a)

103431656

In [4]:
a[1] = 8

In [5]:
id(a)

103431656

In [16]:
a = (1, 2, 3, 4, 5)

In [17]:
type(a)

tuple

In [7]:
a[2] = 7

TypeError: 'tuple' object does not support item assignment

In [18]:
a = 1, 2
type(a)

tuple

In [19]:
a

(1, 2)

In [20]:
c, d = a   # Python will unpack above two values in the tuple and will assign it to left side of assignment operator

In [21]:
c

1

In [22]:
d

2

In [23]:
c, d, e = a

ValueError: not enough values to unpack (expected 3, got 2)

In [24]:
a = (1, 2, 3)
c, d = a

ValueError: too many values to unpack (expected 2)

In [8]:
def func(*args):
    print(args)

In [9]:
func(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

Let's suppose we want to swap two integers

In [10]:
a = 5
b = 8

In [11]:
# One way
temp = a
a = b
b = temp

In [12]:
print(a, b)

8 5

In [13]:
# Second way
a = 2
b = 7
a = a + b
b = a - b
a = a - b
print(a, b)

7 2

In [14]:
# Another way
a, b = 5, 3
a = a ^ b
b = a ^ b
a = a ^ b
print(a, b)

3 5

In [26]:
# Python way of doing it
a = 5
b = 9
b, a = a, b
print(a, b)

9 5

### List to tuple and tuple to list...

In [27]:
a = (1, 2, 3, 4)

In [28]:
a = list(a)   # takes iterable as input

In [29]:
a

[1, 2, 3, 4]

In [30]:
b = list(range(6))

In [31]:
b

[0, 1, 2, 3, 4, 5]

In [32]:
c = list("aman")

In [33]:
c

['a', 'm', 'a', 'n']

In [34]:
x = [1, 2, 3, 4, 5]

In [35]:
x = tuple(x)   # Converts an iterable into a tuple

In [36]:
x

(1, 2, 3, 4, 5)

### Returning multiple values from functions (The returned thing is a tuple)

In [41]:
def addSubtract(a, b):
    return a + b, a - b

In [43]:
s, d = addSubtract(6, 9)

In [44]:
s

15

In [45]:
d

-3